ASPNETCORE_ENVIRONMENT=
REDIS_PASSWORD=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
CATALOG_DB_PASSWORD=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
EMAIL_QUEUE_NAME=
EMAIL_EXCHANGE_NAME=
EMAIL_ROUTING_KEY=
GRAFANA_USER=
GRAFANA_PASSWORD=
