<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="github" value="https://nuget.pkg.github.com/miguelpombodev/index.json"/>
    </packageSources>

    <packageSourceMapping>
        <packageSource key="github">
            <package pattern="cloudmart.*" />
        </packageSource>

        <packageSource key="nuget.org">
            <package pattern="Microsoft.*" />
            <package pattern="System.*" />
            <package pattern="Azure.*" />
            <package pattern="AspNetCore.*" />
            <package pattern="MassTransit.*" />
            <package pattern="Serilog.*" />
            <package pattern="OpenTelemetry.*" />
            <package pattern="Npgsql.*" />
            <package pattern="FluentValidation.*" />
            <package pattern="MediatR" />
            <package pattern="Mapster" />
            <package pattern="Polly" />
            <package pattern="xunit*" />
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

    <packageSourceCredentials>
        <github>
            <add key="Username" value="miguelpombodev"/>
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%"/>
        </github>
    </packageSourceCredentials>
</configuration>
